body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link span.badge{
  position: relative;
  top: -10px;
  left: -5px;
}
.main .add-new{
    float: right;
    background-color: #343a40;
    padding: 5px;
    color: #fff;
}
.main .add-new:hover{
    color: #fff;
}
.search-form{
    padding: 10px;
    background-color: #eee;
    border-radius: 3px;
    clear: both;
    display: flex;
    align-items: center;
}
.search-form .search-group,
.add-form .add-group{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.search-form .search-group .form-group{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.search-form .search-group .col-form-label,
.add-form .add-group label{
    width: 150px;
}
.search-form .search-group .form-control,
.add-form .add-group .form-control{
    width: 350px;
}
.search-form .submit,
.add-form .submit{
    padding: 6px 35px;
    background-color: #343a40;
    color: #fff;
    font-weight: 500;
}
.search-form .submit:hover,
.add-form .submit:hover{
    background-color: #474747;
    color: #fff;
}
table{
    margin: 30px 0;
}
::placeholder{
    color: #a8a8a8;
}
.add h4{
    text-align: center;
    width: max-content;
    padding: 5px 45px;
    background-color: #474747;
    margin: 15px auto 30px;
    color: #fff;
    border-radius: 3px;
    line-height: 150%;
}
.add-form .add-group .form-group{
    display: flex;
}
.ch-rad {
    display: flex;
    padding: 20px;
    background-color: #eee;
    border-radius: 3px;
}
.ch-rad> div{
    margin-right: 50px;
}
.ch-rad>div:last-child{
    margin-right: 0;
}
.save-back{
    display: flex;
    justify-content: flex-end;
    margin: 150px 20px 20px;
}
.save-back .back{
    border: 2px solid #343a40;
    color: #343a40;
    padding: 5px 40px;
    margin: 0 15px;
}
.save-back .back:hover{
    border: 2px solid #343a40;
    color: #fff;
    background-color: #474747;
}
.add-form .form-check{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.selected-data h5{
    text-align: center;
}
.selected-data ul span{
    display: inline-block;
    width: 150px
}
.chart{
    border: 2px solid #474747;
    margin: 15px 0;
}
.chart rect{
    fill: #474747;
}